:root {
  --background-color: #0061ff;
  --one-background: #fcf7f8;
  --two-background: #ced3dc;
  --three-background: #4e8098;
  --four-background: #8D99AE;
  --img-size: 175px;
  --border-size: 1000px
}

body {
  background-color: var(--background-color);
  color: var(--two-background);
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.about {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: fit-content;
  height: 100vh;
  margin: 5px;
  align-items: flex-start;
}

.bass,
.drums,
.singer,
.guitar {
  width: var(--img-size);
  height: var(--img-size);
  padding: 30px;
}

.test {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 80px;
  overflow: hidden;
  transition: 0.2s;
}

.test:hover {
  color: white;
  background-color: var(--three-background);
  box-shadow: 0 0 20px var(--three-background), 0 0 40px var(--three-background), 0 0 60px var(--three-background), 0 0 80px var(--three-background);
  transition-delay: 1.25s;
  cursor: pointer;
  border-radius: 100px;
}

.test span {
  position: absolute;
  display: block;
}

.test span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: var(--border-size);
  background: linear-gradient(90deg, transparent, var(--three-background));
}

.test:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.test span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: var(--border-size);
  background: linear-gradient(270deg, transparent, var(--three-background));
}

.test:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.test span:nth-child(2) {
  top: -100%;
  right: 0;
  width: var(--border-size);
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--three-background));
}

.test:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: .25s;
}

.test span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: var(--border-size);
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--three-background));
}

.test:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: .75s;
}

.member {
  margin: 1vh;
  padding: 1vh;
  height: fit-content;
  width: 300px;
  background-image: linear-gradient(to bottom, var(--three-background), var(--two-background));
  border-radius: 20px 80px 20px 80px;
}

.member img {
  height: 30vh;
  width: 30vh;
  border-radius: 100px;
  border: 2px solid black
}

.homepage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  flex-wrap: wrap;
}

.row1,
.row2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home {
  margin: 0;
  width: 500px;
}

header {
  position: relative;
  margin: 0%;
  padding: 0%;
  font-size: 8em;
}

header span {
  position: relative;
  color: transparent;
  -webkit-text-stroke: 2px rgba(255, 255, 255, .2)
}

header span:before,
header span:after {
  content: attr(data-text);
  position: absolute;
  top: 0%;
  left: 0%;
}

header span:before {
  z-index: 10;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 1);
  animation: animate1 1s ease-in-out infinite;
}

@keyframes animate1 {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, -10px);
  }
}

header span:after {
  z-index: 9;
  -webkit-text-stroke: 2px rgba(255, 255, 255, .6);
  animation: animate2 1s ease-in-out infinite;
}

@keyframes animate2 {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(5px, -5px);
  }
}

header span:nth-child(1):before,
header span:nth-child(1):after {
  animation-delay: 0s;
}

header span:nth-child(2):before,
header span:nth-child(2):after {
  animation-delay: 0.1s;
}

header span:nth-child(3):before,
header span:nth-child(3):after {
  animation-delay: 0.2s;
}

header span:nth-child(4):before,
header span:nth-child(4):after {
  animation-delay: 0.3s;
}

header span:nth-child(5):before,
header span:nth-child(5):after {
  animation-delay: 0.4s;
}

header span:nth-child(6):before,
header span:nth-child(6):after {
  animation-delay: 0.5s;
}

header span:nth-child(7):before,
header span:nth-child(7):after {
  animation-delay: 0.6s;
}

header span:nth-child(8):before,
header span:nth-child(8):after {
  animation-delay: 0.7s;
}

header span:nth-child(9):before,
header span:nth-child(9):after {
  animation-delay: 0.8s;
}

header span:nth-child(10):before,
header span:nth-child(10):after {
  animation-delay: 0.9s;
}

header span:nth-child(11):before,
header span:nth-child(11):after {
  animation-delay: 1s;
}

header span:nth-child(12):before,
header span:nth-child(12):after {
  animation-delay: 1.1s;
}

header span:nth-child(13):before,
header span:nth-child(13):after {
  animation-delay: 1.2s;
}

header span:nth-child(14):before,
header span:nth-child(14):after {
  animation-delay: 1.3s;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3 {
  background-color: #0061ff;
  border-radius: 20px 80px 20px 80px;
  width: fit-content;
  align-self: center;
}

a {
  text-decoration: none;
  color: var(--one-background);
}