.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  background-color: aqua;
}

a {
  background-color: black;
  margin: 0;
  width: fit-content;
  height: fit-content;
}

body {
  background-color: bisque;
  text-align: center;
}