.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  background-color: #3cc47c;
}

a {
  margin: 0;
  text-decoration: none;
  font-size: 30px;
  color: transparent;
  width: fit-content;
  height: fit-content;
  transition: .3s;
  -webkit-text-stroke: .05vw black;
}

a:hover {
  color: #1e392a;
  /* -webkit-text-stroke: transparent; */
}

body {
  background-color: #e9c893;
  color: #828081;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}